.DS_Store
**/*.txt
**/*.pdf
**/.DS_Store
**/.Rhistory
**/*.out
data/*
**/*.rds
**/*.RData
**/*.png
**/*.gmt
**/*.rnk
!data/dataset_parsing/
data/dataset_parsing/*
!data/dataset_parsing/tbi_data_files.csv
scripts/dataset_parsing/.Rhistory
results
