.DS_Store
**/*.txt
**/*.pdf
**/.DS_Store
**/.Rhistory
**/*.out
data/*
**/*.rds
**/*.RData
**/*.png
**/*.gmt
**/*.rnk
**/.globus_env
!data/dataset_parsing/
data/dataset_parsing/*
!data/dataset_parsing/tbi_data_files.csv
!data/perturbation/
data/perturbation/*
!data/perturbation/lincs/
data/perturbation/lincs/*
!data/perturbation/lincs/lincs_genes.csv
scripts/dataset_parsing/.Rhistory
scripts/dl_DLPFC_schyz_stud
results
